body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    width:100%;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
main{
    width:100%;
    display: block;
    border-bottom:1px solid #ccc;
    position:relative;
}

/* Startボタン */
#start-btn{
    display: flex;
    justify-content: center;
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid burlywood;
    border-radius: 10px;
    background-color: antiquewhite;
    font-weight: bold;
    cursor: pointer;
}
#start-btn:hover{
    background-color: whitesmoke;
}

/* 言葉の表示枠1 */
#idea1{
    display: flex;
    justify-content: center;
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
#idea2{
    display: flex;
    justify-content: center;
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

footer{
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:black;
    font-weight: bold;
}
li:hover{
    background: #001F5B;
    color:#fff;
}
textarea{
  margin: 10px 3%;
  width: 95%;
  height: 100px;
  font-size:80%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color:rgb(241, 239, 239);
}
#key{
    margin:0 3%;
    width: 95%;
    font-size:80%;
    background-color: #e1efff;
    box-shadow: 3px 3px 3px 3px #555;
}
table{
    margin: 20px 3%;
    border:1px solid #8dc3f5;
    width:96%;
    
}
th{
    width:30%;
    font-size:24px;
    background-color:#d0e7fc;
    border-bottom: 1px solid #8dc3f5;
}
td{
    font-size:16px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #8dc3f5;
}
